# Ignore cloned repos\nexperiment_*/meddle/\nexperiment_*/overpack/\nexperiment_*/vault-api-library/\nexperiment_*/veeva-vault-openapi-spec/\nexperiment_*/Vault-Direct-Data-API-Accelerators/\nexperiment_*/vsdk-*/
